html, body {
  margin: 0;
  font-family: "Source Sans Pro"!important;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color:#588c3a;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  display: block;
}

#title {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  background-color: #588c3a;
  text-align: center;
  color: #dddddd;
  font-size: 18px;
  line-height: 50px;
  font-family: "Trebuchet MS";
  margin-left:0;
  margin-right:0;
  box-shadow: 0px 7px 25px 0px #222;
}

#slider-container{
  display: none;
}
.container {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  left: 600px;
}

.box-minmax {
  margin-top: 15px;
  width: 608px;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  color: #222222;
  font-weight:bold;
  font-family:"Trebuchet MS";
}

.box-minmax span:first-child {
  margin-left: 10px;
}

.rs-range {
  margin-top: 29px;
  width: 600px;
  -webkit-appearance: none;
}

.rs-range:focus {
  outline: none;
}

.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.5px;
  cursor: pointer;
  box-shadow: 0px 1px 3px #ddd;
  background: #222222;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-moz-range-track {
  width: 100%;
  height: 2.5px;
  cursor: pointer;
  box-shadow: none;
  background: #222222;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 1.5px solid #222222;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: #2d8659;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}

.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #222222;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: #141414;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}

.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  position: relative;
  transform-origin: center center;
  display: block;
  width: 98px;
  height: 98px;
  background: rgba(20, 20, 20, 0.85);
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 22px;
  box-sizing: border-box;
  border: 2px solid #222;
  margin-top: 20px;
  margin-left: -38px;
  left: 289.1px;
  color: #ddd;
  font-style: normal;
  font-weight: bold;
  line-height: bold;
  font-size: 36px;
  box-shadow: inset 0 0 0 3px #111;
}

.rs-label::before {
  content: "rok";
  display: block;
  font-size: 20px;
  letter-spacing: 0.07em;
  margin-top: -10px;
}



.fa{
  line-height: 2!important;
}
.sidebar-tabs{
  background-color:#588c3a!important;
}

.info { 
  padding: 6px 8px; 
  font: 14px/16px Arial, Helvetica, sans-serif; 
  background: rgba(20,20,20,0.8); 
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  border-radius: 5px; 
} 

.info h4 { 
  margin: 0 0 5px; 
  color: #777; 
}

.legend { 
  text-align: left; 
  line-height: 28px; 
  color: #ddd; 
  margin-right:25px!important;
  margin-bottom:25px!important;
} 

.legend i { 
  width: 28px; 
  height: 25px; 
  float: left; 
  margin-right: 10px; 
  opacity: 0.8; 
  border-radius:50%;
}

.leaflet-control-layers{
  top:50px!important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color:#222!important;
  color:#ddd!important;
  opacity:0.85;
}
.ikonka {
  text-align:center;
  margin-top:6px;
}
.ikona_tab:hover {
  background-color:#526a44!important;
}












.item {
  margin-bottom: 2em;
  justify-items: center;
  justify-content: center;
  align-items: start;
  margin-top:2em;
}

/* toggle-rect-color */
.toggle-rect-color input[type="checkbox"] {
  display: none;
}
.toggle-rect-color input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 2.7em;
  height: 1.3em;
  margin-bottom: 20px;
  background: #404040;
  border-radius: 0.2em;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.toggle-rect-color input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 0.9em;
  height: 0.9em;
  border-radius: 0.2em;
  background: #b0b0b0;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.toggle-rect-color input[type="checkbox"]:checked + label {
  background: #4f9c75;
}
.toggle-rect-color input[type="checkbox"]:checked + label:before {
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  left: 1.6em;
}
/*toggle-color-end*/

#checkbox-text {
  margin-left: 3.4em;
  display: block;
  position: relative;
  margin-top: -4em;  
  line-height: 4.6em;  
}
.leaflet-control-zoom {
  top:50px!important;
}


#mapa_bazowa_1 {
  margin-top: 35px;
	width:300px;
	height:120px;
	display:block;	
	text-align:center;
  margin-left: 11%;
}
#nazwa_mapy_1 {
	width:300px;
	height:10px;
	display:block;
	text-align:center;	
	margin-top:5px;
  margin-left: 11%;
	font-family:'Trebuchet MS', sans-serif;
}
#mapa_bazowa_2 {
	width:300px;
	height:120px;
	display:block;
	text-align:center;	
	margin-top:30px;
  margin-left: 11%;
}
#nazwa_mapy_2 {
	width:300px;
	height:10px;
	display:block;	
	text-align:center;
	margin-top:5px;
  margin-left: 11%;
	font-family:'Trebuchet MS', sans-serif;
}
#mapa_bazowa_3 {
	width:300px;
	height:120px;
	display:block;	
	text-align:center;
	margin-top:30px;
  margin-left: 11%;
}
#nazwa_mapy_3 {
	width:300px;
	height:10px;
	display:block;	
	text-align:center;
	margin-top:5px;
  margin-left: 11%;
	font-family:'Trebuchet MS', sans-serif;
}
.mapy_bazowe {
	width:180px;
	height:120px;
	border: #588c3a solid;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	overflow:hidden;
	box-shadow: 0 0 0.7em #aaa;
}
.mapy_bazowe:hover {
	cursor:pointer;
	opacity:0.6;
}

#sidebar {
  top:100px;
}


@media screen and (max-width: 600px) {

    #sidebar{
      top: unset!important;
      height:360px!important;
      bottom:0px!important;
    }
    .leaflet-control-attribution {
      margin-left:40px!important;
      font-size:80%!important;
    }
    .sidebar-content{
      right:unset!important;
    }

}


.guzik {
  transition-duration: 0.4s;
  cursor:pointer;
  background-color: #588c3a; 
  color: #222;
  border-bottom: solid;
  border-width: thin;
  padding: 5px 10px;
  margin-left: 24%;
  width: 50%;
  text-align: center;
  text-decoration: none;
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.guzik:hover {
  background-color: #fff; 
  color: #222;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

sup{
  font-size:70%;
}
#tabela_zespoly {
	margin:auto;
	height:120px;
	width:250px;
	color:white!important;
	font-size:14px;
}


table td#komorka {
	font-weight:bold;
}
table td#komorka2 {
	padding-left:10px;
}

caption {
font-size:16px;
font-weight:bold;
text-shadow:3px 3px 2px #999; 
	-webkit-text-stroke: 0.6px #ccc;
padding-bottom:10px;
text-align:center;
}

table td#komorka_zespoly {
	font-weight:bold;
}

.suwak {
	display:block;
	width:330px;
	height:100px;
	text-align:center;
	margin-top:20px;
}

.opacity-slider {
	-webkit-appearance: none;
	width: 250px;
	height: 5px;
	background: #404040;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-left:15px;
	margin-top:10px;
}
.opacity-slider:hover {
	opacity: 1;
}
.opacity-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 25px;
	background: #588c3a;
	cursor: pointer;
  }
  .opacity-slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #588c3a;
	cursor: pointer;
  }