html, body {
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  display: block;
}

#title {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  background-color: #588c3a;
  text-align: center;
  color: #dddddd;
  font-size: 18px;
  line-height: 50px;
  font-family: "Trebuchet MS";
}

.container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  left: 50px;
}

.box-minmax {
  margin-top: 30px;
  width: 608px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #222222;
}

.box-minmax span:first-child {
  margin-left: 10px;
}

.rs-range {
  margin-top: 29px;
  width: 600px;
  -webkit-appearance: none;
}

.rs-range:focus {
  outline: none;
}

.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #222222;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #222222;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #222222;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}

.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #222222;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: #141414;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}

.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  position: relative;
  transform-origin: center center;
  display: block;
  width: 98px;
  height: 98px;
  background: transparent;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 22px;
  box-sizing: border-box;
  border: 2px solid #222;
  margin-top: 20px;
  margin-left: -38px;
  left: attr(value);
  color: #222;
  font-style: normal;
  font-weight: bold;
  line-height: bold;
  font-size: 36px;
}

.rs-label::before {
  content: "rok";
  display: block;
  font-size: 20px;
  letter-spacing: 0.07em;
  margin-top: -10px;
}
/*
.button1 {
  position: absolute;
  right: 25px;
  top: 100px;
  font-size: 16px;
  font-style: "Trebuchet MS";
  background-color: #588c3a;
  border: none;
  color:#ddd;
  padding: 15px 32px;
  text-align: center;

  
 
}

.button2{
  position: absolute;
  right: 25px;
  top: 160px;
  font-size: 16px;
  font-style: "Trebuchet MS";
  background-color: #588c3a;
  border: none;
  color:#ddd;
  padding: 15px 32px;
  text-align: center;
}
*/
.sidebar{
  top:100px!important;
}

.fa{
  line-height: 2!important;
}
.sidebar-tabs{
  background-color:#588c3a!important;
}
