html, body {
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  display: block;
}

#title {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  background-color: #588c3a;
  text-align: center;
  color: #dddddd;
  font-size: 18px;
  line-height: 50px;
  font-family: "Trebuchet MS";
}

.container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  left: 50px;
}

.box-minmax {
  margin-top: 15px;
  width: 608px;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  color: #222222;
  font-weight:bold;
  font-family:"Trebuchet MS";
}

.box-minmax span:first-child {
  margin-left: 10px;
}

.rs-range {
  margin-top: 29px;
  width: 600px;
  -webkit-appearance: none;
}

.rs-range:focus {
  outline: none;
}

.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.5px;
  cursor: pointer;
  box-shadow: 0px 1px 3px #ddd;
  background: #222222;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-moz-range-track {
  width: 100%;
  height: 2.5px;
  cursor: pointer;
  box-shadow: none;
  background: #222222;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 1.5px solid #222222;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: #2d8659;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}

.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #222222;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: #141414;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}

.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  position: relative;
  transform-origin: center center;
  display: block;
  width: 98px;
  height: 98px;
  background: rgba(20, 20, 20, 0.85);
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 22px;
  box-sizing: border-box;
  border: 2px solid #222;
  margin-top: 20px;
  margin-left: -38px;
  left: attr(value);
  color: #ddd;
  font-style: normal;
  font-weight: bold;
  line-height: bold;
  font-size: 36px;
  box-shadow: inset 0 0 0 3px #111;
}

.rs-label::before {
  content: "rok";
  display: block;
  font-size: 20px;
  letter-spacing: 0.07em;
  margin-top: -10px;
}
/*
.button1 {
  position: absolute;
  right: 25px;
  top: 100px;
  font-size: 16px;
  font-style: "Trebuchet MS";
  background-color: #588c3a;
  border: none;
  color:#ddd;
  padding: 15px 32px;
  text-align: center;

  
 
}

.button2{
  position: absolute;
  right: 25px;
  top: 160px;
  font-size: 16px;
  font-style: "Trebuchet MS";
  background-color: #588c3a;
  border: none;
  color:#ddd;
  padding: 15px 32px;
  text-align: center;
}
*/
.sidebar{
  top:100px!important;
}

.fa{
  line-height: 2!important;
}
.sidebar-tabs{
  background-color:#588c3a!important;
}

.info { 
  padding: 6px 8px; 
  font: 14px/16px Arial, Helvetica, sans-serif; 
  background: rgba(20,20,20,0.8); 
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  border-radius: 5px; 
} 

.info h4 { 
  margin: 0 0 5px; 
  color: #777; 
}

.legend { 
  text-align: left; 
  line-height: 28px; 
  color: #ddd; 
  margin-right:25px!important;
  margin-bottom:25px!important;
} 

.legend i { 
  width: 28px; 
  height: 25px; 
  float: left; 
  margin-right: 10px; 
  opacity: 0.8; 
  border-radius:50%;
}

.leaflet-control-layers{
  top:50px!important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color:#222!important;
  color:#ddd!important;
  opacity:0.85;
}
.ikonka {
  text-align:center;
  margin-top:6px;
}
