html, body {
	margin:0;
}
#map{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
	display:block;
}
#title {
width:100%;
height:50px;
position:absolute;
top:0px;
background-color:#222222;
text-align: center;
color:#dddddd;
font-size:18px;
line-height: 50px;
}